<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <mat-toolbar color="warn">
      <span>Menú</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item routerLink="./home" (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon>view_list</mat-icon
        ><span>Listado de héroes</span></mat-list-item
      >
      <mat-list-item routerLink="./about" (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon>error</mat-icon
        ><span>About</span></mat-list-item
      >
    </mat-list>
  </mat-sidenav>

  <mat-toolbar color="warn">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>
    <span>{{ (userLogged$ | async)?.usuario }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
