<mat-grid-list
  cols="1"
  *ngIf="!heroesServiceService.hero.getValue(); else heroDiv"
>
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #heroDiv>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">

    <div fxFlex="50">
      <h1>
        {{ (heroesServiceService.hero$ | async)?.superhero }}<small> - </small
        >{{ (heroesServiceService.hero$ | async)?.alter_ego }}
      </h1>
      <mat-divider></mat-divider>
      <br />
      <img
        onerror="this.onerror=null;this.src='assets/noImage.jpg'"
        [src]="heroesServiceService.hero$ | async | imagen"
      />
    </div>

    <div fxFlex="50">
      <h1>{{ (heroesServiceService.hero$ | async)?.publisher }}</h1>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item
          ><strong>Primera aparición:</strong>
          {{
            (heroesServiceService.hero$ | async)?.first_appearance
          }}</mat-list-item
        >
        <mat-list-item
          ><strong>Personajes:</strong
          >{{ (heroesServiceService.hero$ | async)?.characters }}</mat-list-item
        >
      </mat-list>

      <br />

      <button mat-button color="warn" (click)="comeBack()">Volver</button>
    </div>
  </div>
</ng-template>
