<ul>
  <li>
    Se ha creado siguiendo la técnica de programación reactiva con la librería
    rxjs.
  </li>
  <li>
    Se ha añadido un control de usuarios, para que un administrador pueda
    gestionar el contenido y un usuario no.
  </li>
  <li>Se ha creado un Pipe específíco para el manejo de imagenes.</li>

</ul>
