<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    onerror="this.onerror=null;this.src='assets/noImage.jpg'"
    [src]="hero | imagen"
  />
  <mat-card-content>
    <h3>{{ hero?.publisher | titlecase }}</h3>
    <p>
      <strong>Primera aparición:</strong>{{ hero?.first_appearance }}
      <br />
      <strong>Personajes:</strong>{{ hero?.characters }}
    </p>
    <mat-card-actions>
      <button mat-button color="warn" [routerLink]="['/heroes', hero.id]">
        Saber más...
      </button>
      <button mat-button color="info" (click)="edit()" [disabled]="!isAdmin">
        Editar
      </button>
      <button
        mat-button
        color="info"
        (click)="deleteHero()"
        [disabled]="!isAdmin"
      >
        Borrar
      </button>
      <br />
      <span *ngIf="!isAdmin" class="warning"
        >* Para borrar o editar tiene que ser 'Admin'</span
      >
    </mat-card-actions>
  </mat-card-content>
</mat-card>
