<mat-grid-list cols="1" *ngIf="!(heros$ | async); else divHeroList">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="(heros$ | async)?.length === 0">
  <h1>No se ha encontrado nada con este argumento.</h1>
</div>

<ng-template #divHeroList>
  <div>
    <h1>Lista de Héroes</h1>
    <br />

    <div>
      <h3>Buscar heroe:</h3>
      <mat-form-field>
        <mat-label>Héroe a buscar</mat-label>
        <input
          type="text"
          aria-label="Number"
          matInput
          [(ngModel)]="searchTerm"
          (input)="search()"
        />
      </mat-form-field>
      <button
        mat-button
        color="info"
        (click)="add()"
        [disabled]="(userLogged$ | async)?.rol != 'Admin'"
      >
        Añadir
      </button>
      <span *ngIf="(userLogged$ | async)?.rol != 'Admin'" class="warning"
        >* Para añadir tiene que ser 'Admin'</span
      >
    </div>

    <mat-divider></mat-divider>
    <br />

    <div class="row">
      <div class="col" *ngFor="
          let hero of (heros$ | async) ?? []
            | paginate : { itemsPerPage: 3, currentPage: currentPage }
        "
      >
        <app-hero-target
          [hero]="hero"
          (heroToEmit)="edit($event)"
          [isAdmin]="(userLogged$ | async)?.rol === 'Admin'"
        >
        </app-hero-target>
      </div>
    </div>

    <pagination-controls
      (pageChange)="currentPage = $event"
      *ngIf="(heros$ | async) ?? [].length > 0"
    ></pagination-controls>
  </div>
</ng-template>
