html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer{
  flex: 1 1 auto;
}
img{
  border-radius: 25px;
}
app-hero-target {
  display: flex !important;
  max-width: 300px !important;
}
